.Button {
  display: inline-block;
  padding: 35px;
  border-radius: 50%;
  border: none;
  width: 80px;
  min-height: 80px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  margin-bottom: 3px;
}

.Button:focus {
  outline: none;
}

.Button:active {
  background: #ccc;
}

.number {
  background-color: rgba(82, 81, 81, .7);
}

.big-number {
  background-color: rgba(82, 81, 81, .7);
  border-radius: 45px;
  width: 160px;
}

.row {
  background-color: rgba(184, 181, 181, .7);
}

.column {
  background-color: rgba(255, 165, 0, 1);
  color: #fff;
}
