.Calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 700px;
}

.buttonWrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
